APP_NAME=ai-chatbot
APP_PORT=8000

OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=google/gemma-4-26b-a4b-it:free

CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://neondb_owner:password@id-pooler.server_domain/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@id.server_domain/neondb?sslmode=require&channel_binding=require"