APP_NAME="ORM Integrated Blog API"
APP_PORT=8000
CLIENT_URL="your-frontend-url"

DATABASE_URL="postgresql://pguser:pgpass@dbdomain-pooler/pgdb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://pguser:pgpass@dbdomain/pgdb?sslmode=require&channel_binding=require"

JWT_SECRET="your_sha256_alphanumeric_string_here_minimum_32_characters"
JWT_EXPIRES_IN="1h"