APP_NAME=your-api-app-name
APP_PORT=8000

CLIENT_URL="your-client-or-frontend-url"

DATABASE_URL="postgresql://owner:password/server-pooler/dbName"
DIRECT_URL="postgresql://owner:password/server/dbName"

SALT_ROUNDS=10

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

GOOGLE_AUTH_CLIENT_ID=""